<!-- vim: ft=eruby -->
<% if form['name'] %>
  <h1>Hello <%= form['name'] %></h1>
<% else %>
  <h1>Hello there, what's your name?</h1>
  <form action="/greet.cfm" method="post">
    <input name="name">
  </form>
<% end %>
